body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.rightmanu {
    float: right;
    margin-top: 30px;
    margin-right: 40px;
}

.rightmanu ul li {
    font-size: 15px;
    color: orange;
    display: inline-block;
    font-weight: bold;
    margin-right: 20px;
    padding: 20px;
}

h1 {
    font-size: 50px;
    color: rgb(36, 36, 87);
}

h2 {
    font-size: 40px;
    text-align: center;
    color: rgb(36, 36, 87);
}

h3 {
    color: rgb(36, 36, 87);
    font-weight: bold;
}

.color-highlight {
    color: firebrick;
}

.half-width {
    width: 40%;
    float: left;
    padding-left: 2%;
    margin-left: 5%;
}

.half-width img {
    width: 90%;
}

section {
    height: 700px;
    padding-bottom: 150px;
}

.link-button {
    text-decoration: none;
    background-color: rgb(226, 57, 65);
    padding: 10px 30px;
    border-radius: 6px;
    color: white;
    font-weight: bold;
    border: 2px solid red;
}

.last-section {
    background-color: rgb(240, 237, 237);
    height: 700px;
}

.bg {
    margin-left: 230px;
    padding-top: 80px;
}

.image-div {
    width: 400px;
    padding: 10px;
    margin-left: 40px;
    display: inline-block;
    border: 10px solid white;
    border-radius: 5%;
    background-color: white;
    box-shadow: 10px 10px 40px dimgray;
}

.images {
    width: 300px;
    float: left;
    margin: 50px;
    border-radius: 6%;
}

.last-bg {
    background-image: url("Group_33094_1.png");
    border: 2px solid rgb(54, 50, 50);
    box-shadow: 10px 10px 40px rgb(131, 125, 123);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
    height: 500px;
    padding-left: 100px;
    margin: 50px 50px;
}

.text-color {
    height: 100px;
    width: 500px;
    margin-left: 300px;
    margin-top: -10px;
    text-align: center;
    color: white;
    position: relative;
}

.for-a {
    width: 300px;
    margin-left: 1000px;
    text-align: center;
    margin-top: 190px;
}

footer .h1-h2 {
    text-align: center;
}

#for-h4 {
    font-size: 20px;
    color: grey;
    font-weight: bold;
}

.icon {
    height: 200px;
    margin-left: 850px;
}

.icon-img {
    width: 30px;
    margin-left: 10px;
}